<div class="all-wrapper fixed-header left-menu">
    <div class="page-header" style="margin: 0">
        <div class="header-links hidden-xs">
            <div class="dropdown">
              <a href="#" class="header-link clearfix" data-toggle="dropdown">
               
                <div class="user-name-w">
                  Logout <i class="fa fa-power-off"></i>
                </div>
              </a>            
            </div>
          </div>
    <div class="header-links hidden-xs">
        <a href="#" class="header-link clearfix" data-toggle="dropdown">
          <div class="avatar">
            <!-- <img src="assets/images/avatar-small.jpg" alt=""> -->
          </div>
          <div class="user-name-w">
            Admin
          </div>
        </a>
    </div>
    <h1>Dashboard</h1>
  </div>
  
    <div class="sub-sidebar-wrapper">
    <ul class="nav">
      <li><a id="hotels">Hotels</a></li>
      <li><a >Bookings</a></li>
      <li><a >Add New Hotel</a></li>
    </ul>
    </div>
  </div>
  
  <!-- <div class="main-content">
  <div class="container">
    <div id="#hotels">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta, vel facilis amet magni animi placeat, ipsa ab debitis natus atque ducimus veniam sunt nisi tempore dolor numquam. Neque, veniam nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod asperiores nulla magnam, modi nobis voluptatibus doloribus reprehenderit exercitationem repellat quae eveniet numquam odio repellendus harum atque, quo sed tempora officiis!
    </div>
  </div>
  </div> -->
  