
<div class="all-wrapper fixed-header left-menu">
  <div class="page-header" style="margin: 0">
      <div class="header-links hidden-xs">
          <div class="dropdown">
            <a href="#" class="header-link clearfix" data-toggle="dropdown">
             
              <div class="user-name-w">
                Logout <i class="fa fa-power-off"></i>
              </div>
            </a>            
          </div>
        </div>
  <div class="header-links hidden-xs">
      <a href="#" class="header-link clearfix" data-toggle="dropdown">
        <div class="avatar">
          <img src="assets/images/avatar-small.jpg" alt="">
        </div>
        <div class="user-name-w">
          Admin
        </div>
      </a>
  </div>
  <h1>Dashboard</h1>
</div>

  <div class="sub-sidebar-wrapper">
  <ul class="nav">
    <li><a >Hotels</a></li>
    <li><a >Bookings</a></li>
    <li><a >Add New Hotel</a></li>
  </ul>
  </div>
</div>
