<div class="backbutton">
  <button class="btn btn-primary" routerLink="/" style="margin: 50px 0px 0px 40px;">Go Back Home</button>

  </div>

<div class="login-page">
  <div *ngIf="!alertUI" class="alert alert-danger">
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
      </div>
  <div class="form">
    Booking Hotel Login
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="login-form">
        <input #username ="ngModel" ngModel name="username"  type="text" placeholder="username" />
        <input #password ="ngModel" ngModel name="password" type="password" placeholder="password" />
        <button>login</button>
      </div>
    </form>
  </div>
</div>
