<div class="login-page">
  <div class="form">
    <div class="register-form">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <input  ngModel name="username" type="text" placeholder="name"/>
      <input ngModel name="password"  type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
    </div>
    <div class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
    </div>
  </form>
  </div>
</div>