<div class="admin-bookings">

<div class="backbutton">
  <button class="btn btn-primary" routerLink="/admin-dashboard">Back</button>

  </div>

  <div class="jumbotron jumbotron-fluid" style="width: 700px; display:flex; text-align: center; background-color: #333544;">
          <div class="container">
            <h2 class="display-6" style=" color:ghostwhite;">Bookings</h2>
          </div>
        </div>
        <p style="text-align: center; margin-top: 30px;">
              </p>
  <table class="table">
      <thead>
      <tr>
          <th style="font-size: 14px;" scope="col">Book_ID</th>
          <th scope="col">Hotel_ID</th>
          <th scope="col">Name</th>
          <th scope="col">CNIC</th>
          <th scope="col">Cost</th>
          <th scope="col">bookFrom</th>
          <th scope="col">bookTo</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>hotelID</td>
          <td>personName</td>
          <td>CNIC</td>
          <td>cost</td>
          <td>Date</td>
          <td>Date</td>
          <td>
              <a routerLink=''>Edit</a>
          </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>hotelID</td>
        <td>personName</td>
        <td>CNIC</td>
        <td>cost</td>
        <td>Date</td>
        <td>Date</td>
        <td>
            <a routerLink=''>Edit</a>
        </td>
    </tr>

  </tbody>
  </table>
  </div>