<div class="dashboard-body">
    <div>
      <nav class="navbar navbar-dark bg-dark" style= " border-radius: 0px; ;padding: 7px 0px 4px 0px; font-size: 18px; color:whitesmoke;">
          <span class="navbar-text" style="margin-left: 50px;">
            <a routerLink="/admin-dashboard">
          Dashboard
          </a>    
        </span>
        <div ></div>
        <span style="margin: 15px 30px 15px 0; float: right; text-align:right">
            <a routerLink="/bh-admin">Logout</a>
        </span>
        <div class="avatar">

          </div>
  
      </nav>  
    </div>
    <div>
      <div style="width: 100%;">
    <md-sidenav-container class="sidenav-container" style="width: 100%; height: 200%;">
      <md-sidenav opened #sidenav class="example-sidenav" style=" width: 13%; background:rgb(52,58,64);">
        <div class="sidenav-values">
        <div class="side-menu"><a routerLink="/admin/admin-dashboard">Hotel List</a></div>
        <div class="side-menu"><a routerLink="/admin/bookings">Bookings</a></div>

        <div class="side-menu"><a routerLink="/admin/hotel-form/new">Add Hotel</a></div>
        <!-- <div class="side-menu"><a routerLink="/admin/hotel-form/new">Edit Hotel</a></div>    --k done>
          
        <!-- <div class="side-menu"><a routerLink="/admin/bookings">Delete Hotel</a></div>    -->
        <div class="col-xs-2">
            <div id="colorlib-logo">
              <img src="../../assets/images/logo.png" alt="" width= "208px" height="auto">
            </div>
          </div>
      </div> 
      </md-sidenav>
    
      <div class="example-sidenav-content" style=" width: 100%;">
          
          <div class="jumbotron" style="text-align: center;">
              <h1 class="display-4"> SAN Hotels & Resorts</h1>
              <p class="lead">Admin Dashboard</p>
            </div>
            <h2 style="    text-align: center;">List of hotels</h2>

            <table class="table">
              <thead  class="thead-dark">
                <tr style="text-align: center">
                <th  scope="col">id</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">Address</th>
                <th scope="col">Rate </th>
                <th scope="col"> available rooms</th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let hotel of hotels ; let i = index" [attr.data-index]="i"  style="text-align: center" >
                <th scope="row">{{i + 1}}</th>
                <td>{{hotel.hotelName}}</td>
                <td>{{hotel.address}}</td>
                <td> Rs {{hotel.rate}}</td>

                <td>{{hotel.availableRooms}}</td>

                <td> <a  style="cursor: pointer;color : black"> Edit  </a> | <a  style="cursor: pointer;color : black"> Delete  </a></td>
            
              </tr>
              </tbody>
              </table>
    <!-- Hotels List Code -->
  
        </div>  
    
            <!-- </div> -->
      </md-sidenav-container>
    </div>
    </div>
    
    </div>