

.hotel-form-page{

    margin: 20px 100px 100px 100px;
    /* padding: 100px 50px 50px 50px; */
    font-family: sans-serif;
    color: black;
}

.jumbotron {

    margin: auto;
}

option {

    background-color: grey;
    color: white;
}
.form-control {
    font-size: 18px;
    border-radius: 6px;
    background-color: gainsboro;
}

.form-group {

    margin-bottom: 5px;
}