<div class="hotel-form-page">
  <div class="row">
    <div class="col-md-6" style="margin: 50px 0px 0px 0px;">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <!-- Hotel name-->
            <div class="form-group">
              <label for="title">Hotel Name</label>
              <input #hotelName="ngModel" ngModel name="hotelName" id="title" type="text" class="form-control" required>
              <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                  Title is required
              </div>
            </div>
            <!-- hotel country -->
                <div class="form-group">
                    <label for="title">Country</label>
                    <input #country="ngModel" ngModel name="country" id="country" type="text" class="form-control" required>
                    <div class="div alert alert-danger" *ngIf="country.touched && country.invalid">
                      country is required
                    </div>
            </div>
            <!-- hotel category -->
            <div class="form-group">
                  <label for="Category">Category</label>
                  <select style="line-height: 2em;" #category="ngModel" ngModel name="category" id="category" class="form-control" required>
                    <option style="line-height: 2em;"  *ngFor="let options of categories" value="option" style="color: black;">
                      {{ options }}
                    </option>
                  </select>
                  <div class="div alert alert-danger" *ngIf="category.touched && category.invalid">
                    must select category
                  </div>
            </div>
            <!-- hotel address-->
             <div class="form-group">
                    <label for="address">Address</label>
                    <input #address="ngModel" #address="ngModel" ngModel name="address" id="address" type="text" class="form-control" required>
                  <div class="div alert alert-danger" *ngIf="address.touched && address.invalid">
                    Address is required
                  </div>
                  </div>
            <!-- hotel cost per night-->
            <div class="form-group">
                <label for="title">Cost</label>
                <div class="input-group">
                <span class="input-group-addon">$</span>
                <input #cost ="ngModel" ngModel name="cost" id="cost" type="number" class="form-control" required>
                <div class="div alert alert-danger" *ngIf="cost.touched && cost.invalid">
                  cost is required
                </div>
              </div>
            </div>

                  <!-- hotel image to be shown -->
              <div class="form-group">
                <label for="imageurl">Image Url</label>
                <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required>
                <div class="div alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    image Url is required
              </div>
              </div>  
              <!-- submit button -->
              <button class="btn btn-primary">Add Hotel</button>
          </form>
        </div>
    <!-- hotel card area-->
        <div class="col-md-5" style="margin: 150px 0px 0 100px;">

        <div class="card" style="width: 34rem;">
            <img class="card-img-top" [src]="imageUrl.value">
            <div class="card-body">
              <h5 class="card-title">{{ title.value }} </h5>
            </div>
            <ul class="list-group">
              <li class="list-group-item">{{country.value}}</li>
              <li class="list-group-item">{{address.value}}</li>
              <li class="list-group-item">{{cost.value | currency:'USD':true}}</li>
            </ul>
            <div class="card-body">

              <!-- <a href="#" class="card-link"></a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
    </div>
    </div>

  </div>
