<div class="admin-hotels-list">

        <div class="backbutton">
                <button class="btn btn-primary" routerLink="/admin-dashboard">Back</button>
              
                </div>

<div class="jumbotron jumbotron-fluid" style="width: 700px; display:flex; text-align: center; background-color: #333544;">
        <div class="container">
          <h2 class="display-6" style=" color:ghostwhite;">Hotels List</h2>
        </div>
      </div>
      <!-- <p style="text-align: center; margin-top: 30px;">
        <button routerLink='/admin/hotel-form/new' mat-raised-button color="primary">Add Hotel</button>
            </p> -->
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th style="font-size: 14px;" scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Cost</th>
        <th scope="col"></th>
    </tr>
</thead>
<tbody>
    <tr>
        <th scope="row">1</th>
        <td>hotel 1</td>
        <td>hotel 1</td>
        <td>cost</td>
        <td>
            <a routerLink='/admin/hotel-form/new'>Edit</a>
        </td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>hotel 2</td>
        <td>hotel 2</td>
        <td>cost</td>
        <td>
            <a routerLink='/admin/hotel-form/new'>Edit</a>
        </td>
        </tr>
    
</tbody>
</table>
</div>